.headerMain {
    display: block;
    min-height: 80px;
}

.headerAlign {
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
    min-height: 80px;
	}

.headerItems {
    margin: auto;
    min-height: 80px;
    min-width: 980px;
    max-width: 980px;
}
/*div : nth-child(4) { 
    background-color: yellow;
}    child selector is on element tag not on classes         */
#blockAlignment {
 
  display: inline-block;
}
.imageLogo {
    display: inline-block;
    width:70px;
    height:60px;
    margin-top:10px;
}
.logoText{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 31px;
    color: #BEC936;
    display:inline-block;
    width:190px;
}
.logoText span{
   position:relative;
   clear: left;
   right: 156px;
   top: 25px;
   color: #FB7037;
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 22px;
}
.navAlignment {
  display: inline-block;
  position: relative;
  top:6px;
  padding-right: 16px;
}
.subItems {
    padding: 0 7px 28px;
    text-align: center;
    text-decoration: none!important;
    font-size: 21px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #282c3f;
    border-bottom: none;
    font-weight: 500;
}
.subItems:hover {
    color: black;
    border-bottom:3px solid#ee5f73;
}
.searchBox {
  display:inline-block;
}
.searchBox input {
  display:inline-block;
  border: 1px solid #d5d6d9;
  color: #696E7C;
  height: 34px;
  width: 160px;
   border-right: 0;
  background: #f5f5f6;

}
.searchIcon {
      display: inline-block;
    border: 1px solid #d4d5d9;
    border-left: none;
    border-radius: 0 4px 4px 0;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 6px 0 26px 2px;
    background: #f5f5f6;
 }
 .loginIcon {
    display: inline-block;
    border-left: 1px solid #d5d6d9;
    border-right: 1px solid #d5d6d9;
    color: darkgrey;
    margin-left: 18px;
    padding: 0 12px 0 17px;
    height: 29px;
 }
 .loginIcon span {
    top: 4px;
    
    position: relative;
    font-size: 19px;
}
.chartIcon {
  display: inline-block;
  margin-left: 12px;
}
.chartIcon span {
  color: darkgrey;
  position: relative;
  font-size: 19px;
  top: 4px;
}

 
/*ul {
  display:inline-block;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
  float: left
}

li a {
  display: block;
    padding: 8px;
    background-color: #dddddd;
  } if uses ul li for nav bar
  */